<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: tao-head}"></head>
<body class="d-flex flex-column h-100">
 <div th:replace="~{tao_header :: tao-head}"></div>
 <main role="main" class="flex-shrink-0">
  <div class="container-fluid">
   <div class="row row-deck row-cards">
    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">成交金额/量(亿元/万手)</div>
      <div id="chart-amount-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">资金变动(亿元)</div>
      <div id="chart-profit-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">上涨/下跌股票(只)</div>
      <div id="chart-up-down-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">涨停/跌停股票(只)</div>
      <div id="chart-limit-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-3">
    <div class="card">
     <div class="card-header">ShiBor(%)</div>
     <div id="chart-shibor-bg" class="chart-sm"></div>
    </div>
   </div>
   <div class="col-sm-6 col-lg-3">
    <div class="card">
     <div class="card-header">IPO股票(只)</div>
     <div id="chart-listing-bg" class="chart-sm"></div>
    </div>
   </div>

    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">上证指数</div>
      <div id="chart-sh-bg" class="chart-sm"></div>
     </div>
    </div>

    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">深证成指</div>
      <div id="chart-sz-bg" class="chart-sm"></div>
     </div>
    </div>

    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">沪深300</div>
      <div id="chart-hs300-bg" class="chart-sm"></div>
     </div>
    </div>

    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">深证300</div>
      <div id="chart-sz300-bg" class="chart-sm"></div>
     </div>
    </div>

    <div class="col-sm-6 col-lg-3">
     <div class="card">
      <div class="card-header">市场情绪</div>
      <div id="chart-mood-bg" class="chart-sm"></div>
     </div>
    </div>

    <div class="col-sm-6 col-lg-6">
     <div class="card">
      <div class="card-header">GDP(亿元)</div>
      <div id="chart-gdp-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-6">
     <div class="card">
      <div class="card-header">货币供应量(亿元)</div>
      <div id="chart-money-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-6">
     <div class="card">
      <div class="card-header">居民消费价格指数</div>
      <div id="chart-cpi-bg" class="chart-sm"></div>
     </div>
    </div>
    <div class="col-sm-6 col-lg-6">
     <div class="card">
      <div class="card-header">工业生产者出厂价格指数</div>
      <div id="chart-ppi-bg" class="chart-sm"></div>
     </div>
    </div>
  </div>
  </div>
 </main>
 <div th:replace="~{tao_footer :: tao-footer}"></div>
 <script th:src="@{/static/js/jquery.slim.min.js}"></script>
 <script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
 <script th:src="@{/static/js/apexcharts.min.js}"></script>
 <script th:inline="javascript" type="text/javascript">
  var amount = {
     series: [{name: "amount",data: []},{name: "vol",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /**Amount**/
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  amount.series[0].data.push(/*[[${mdo.amount}]]*/);
  amount.series[1].data.push(/*[[${mdo.vol}]]*/);
  amount.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartAmount = new ApexCharts(document.querySelector("#chart-amount-bg"), amount);
  chartAmount.render();

  /**profit**/
  var profit = {
     series: [{name: "profit",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  profit.series[0].data.push(/*[[${mdo.profit}]]*/);
  profit.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartProfit = new ApexCharts(document.querySelector("#chart-profit-bg"), profit);
  chartProfit.render();

  /**downUp**/
  var downUp = {
     series: [{name: "up",data: []},{name: "down",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  downUp.series[0].data.push(/*[[${mdo.up}]]*/);
  downUp.series[1].data.push(/*[[${mdo.down}]]*/);
  downUp.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartDownUp = new ApexCharts(document.querySelector("#chart-up-down-bg"), downUp);
  chartDownUp.render();

  /**downUpLimit**/
  var downUpLimit = {
     series: [{name: "upLimit",data: []},{name: "downLimit",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  downUpLimit.series[0].data.push(/*[[${mdo.uplimit}]]*/);
  downUpLimit.series[1].data.push(/*[[${mdo.downlimit}]]*/);
  downUpLimit.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartDownUpLimit = new ApexCharts(document.querySelector("#chart-limit-bg"), downUpLimit);
  chartDownUpLimit.render();


  /**shibor**/
  var shibor = {
     series: [{name: "shibor",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  shibor.series[0].data.push(/*[[${mdo.shibor}]]*/);
  shibor.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartSb = new ApexCharts(document.querySelector("#chart-shibor-bg"), shibor);
  chartSb.render();

  /**listing**/
  var listing = {
     series: [{name: "listing",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  listing.series[0].data.push(/*[[${mdo.listing}]]*/);
  listing.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartList = new ApexCharts(document.querySelector("#chart-listing-bg"), listing);
  chartList.render();

  /***sh**/
  var sh = {
     series: [{name: "open",data: []},{name: "close",data: []},{name: "high",data: []},{name: "low",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.shIndex}"]*/
  sh.series[0].data.push(/*[[${mdo.open}]]*/);
  sh.series[1].data.push(/*[[${mdo.close}]]*/);
  sh.series[2].data.push(/*[[${mdo.high}]]*/);
  sh.series[3].data.push(/*[[${mdo.low}]]*/);
  sh.xaxis.categories.push(/*[[${mdo.day}]]*/);
  /*[/]*/
  var chartSh = new ApexCharts(document.querySelector("#chart-sh-bg"), sh);
  chartSh.render();

  /***sz**/
  var sz = {
     series: [{name: "open",data: []},{name: "close",data: []},{name: "high",data: []},{name: "low",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.szIndex}"]*/
  sz.series[0].data.push(/*[[${mdo.open}]]*/);
  sz.series[1].data.push(/*[[${mdo.close}]]*/);
  sz.series[2].data.push(/*[[${mdo.high}]]*/);
  sz.series[3].data.push(/*[[${mdo.low}]]*/);
  sz.xaxis.categories.push(/*[[${mdo.day}]]*/);
  /*[/]*/
  var chartSz = new ApexCharts(document.querySelector("#chart-sz-bg"), sz);
  chartSz.render();

  /***hs300**/
  var hsSB = {
     series: [{name: "open",data: []},{name: "close",data: []},{name: "high",data: []},{name: "low",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.hs300}"]*/
  hsSB.series[0].data.push(/*[[${mdo.open}]]*/);
  hsSB.series[1].data.push(/*[[${mdo.close}]]*/);
  hsSB.series[2].data.push(/*[[${mdo.high}]]*/);
  hsSB.series[3].data.push(/*[[${mdo.low}]]*/);
  hsSB.xaxis.categories.push(/*[[${mdo.day}]]*/);
  /*[/]*/
  var chartHsSB = new ApexCharts(document.querySelector("#chart-hs300-bg"), hsSB);
  chartHsSB.render();

/***sz300**/
  var szSB = {
     series: [{name: "open",data: []},{name: "close",data: []},{name: "high",data: []},{name: "low",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.sz300}"]*/
  szSB.series[0].data.push(/*[[${mdo.open}]]*/);
  szSB.series[1].data.push(/*[[${mdo.close}]]*/);
  szSB.series[2].data.push(/*[[${mdo.high}]]*/);
  szSB.series[3].data.push(/*[[${mdo.low}]]*/);
  szSB.xaxis.categories.push(/*[[${mdo.day}]]*/);
  /*[/]*/
  var chartSzSB = new ApexCharts(document.querySelector("#chart-sz300-bg"), szSB);
  chartSzSB.render();

  /**mood**/
  var mood = {
     series: [{name: "mood",data: []}],
     chart: {height: 200,type: 'line',zoom: {enabled: false}},
     dataLabels: {enabled: false},
     stroke: {curve: 'smooth', width:2},
     grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
     xaxis: {categories: [],}
  };
  /*[# th:each="mdo : ${dashBoard.marketDailyList}"]*/
  mood.series[0].data.push(/*[[${mdo.mood}]]*/);
  mood.xaxis.categories.push(/*[[${mdo.date}]]*/);
  /*[/]*/
  var chartMood = new ApexCharts(document.querySelector("#chart-mood-bg"), mood);
  chartMood.render();

  /**gdp**/
  var gdp = {
      series: [{name: '累计值',data: []}, {name: '第一产业',data: []}, {name: '第二产业',data: []}, {name: '第三产业',data: []}],
      chart: {type: 'bar',height: 200},
      plotOptions: {
          bar: {horizontal: false,columnWidth: '55%',endingShape: 'rounded'},},
          dataLabels: {enabled: false},
          stroke: {show: true,width: 2,
          colors: ['transparent']
      },
      xaxis: { categories: [],},
      yaxis: {
      title: { text: '元 (1亿)'}
      },
     fill: {
        opacity: 1
     },
     tooltip: { y: {formatter: function (val) { return "$ " + val + " 亿元"}}}
  };
  /*[# th:each="vo : ${dashBoard.gdpList}"]*/
  gdp.series[0].data.push(/*[[${vo.gdp}]]*/);
  gdp.series[1].data.push(/*[[${vo.pi}]]*/);
  gdp.series[2].data.push(/*[[${vo.si}]]*/);
  gdp.series[3].data.push(/*[[${vo.ti}]]*/);
  gdp.xaxis.categories.push(/*[[${vo.quarter}]]*/);
  /*[/]*/
  var chartGdp = new ApexCharts(document.querySelector("#chart-gdp-bg"), gdp);
  chartGdp.render();

  /**money**/
  var money = {
      series: [{name: 'M0',data: []}, {name: 'M1',data: []}, {
          name: 'M2',data: []}],
      chart: {type: 'bar',height: 200},
      plotOptions: {
          bar: {horizontal: false,columnWidth: '55%',endingShape: 'rounded'},},
          dataLabels: {enabled: false},
          stroke: {show: true,width: 2,
          colors: ['transparent']
      },
      xaxis: { categories: [],},
      yaxis: {
      title: { text: '当月'}
      },
     fill: {
        opacity: 1
     },
     tooltip: { y: {formatter: function (val) { return "$ " + val + " 亿元"}}}
  };
  /*[# th:each="vo : ${dashBoard.moneyList}"]*/
  money.series[0].data.push(/*[[${vo.m0}]]*/);
  money.series[1].data.push(/*[[${vo.m1}]]*/);
  money.series[2].data.push(/*[[${vo.m2}]]*/);
  money.xaxis.categories.push(/*[[${vo.month}]]*/);
  /*[/]*/
  var chartMoney = new ApexCharts(document.querySelector("#chart-money-bg"), money);
  chartMoney.render();

  /**cpi**/
  var cpi = {
      series: [{name: '全国',data: []}, {name: '城市',data: []}, {name: '农村',data: []}],
      chart: {type: 'bar',height: 200},
      plotOptions: {
          bar: {horizontal: false,columnWidth: '55%',endingShape: 'rounded'},},
          dataLabels: {enabled: false},
          stroke: {show: true,width: 2,
          colors: ['transparent']
      },
      xaxis: { categories: [],},
      yaxis: {
      title: { text: '当月'}
      },
     fill: {
        opacity: 1
     },
     tooltip: { y: {formatter: function (val) { return "$ " + val + ""}}}
  };
  /*[# th:each="vo : ${dashBoard.cpiDtoList}"]*/
  cpi.series[0].data.push(/*[[${vo.ntVal}]]*/);
  cpi.series[1].data.push(/*[[${vo.townVal}]]*/);
  cpi.series[2].data.push(/*[[${vo.cntVal}]]*/);
  cpi.xaxis.categories.push(/*[[${vo.month}]]*/);
  /*[/]*/
  var chartCPI = new ApexCharts(document.querySelector("#chart-cpi-bg"), cpi);
  chartCPI.render();

  /**ppi**/
  var ppi = {
      series: [{name: '全部工业品',data: []}, {name: '生产资料',data: []}, {name: '生活资料',data: []}],
      chart: {type: 'bar',height: 200},
      plotOptions: {
          bar: {horizontal: false,columnWidth: '55%',endingShape: 'rounded'},},
          dataLabels: {enabled: false},
          stroke: {show: true,width: 2,
          colors: ['transparent']
      },
      xaxis: { categories: [],},
      yaxis: {
      title: { text: '当月同比'}
      },
     fill: {
        opacity: 1
     },
     tooltip: { y: {formatter: function (val) { return "$ " + val + ""}}}
  };
  /*[# th:each="vo : ${dashBoard.ppiDtoList}"]*/
  ppi.series[0].data.push(/*[[${vo.ppiYoy}]]*/);
  ppi.series[1].data.push(/*[[${vo.ppiMpYoy}]]*/);
  ppi.series[2].data.push(/*[[${vo.ppiCgYoy}]]*/);
  ppi.xaxis.categories.push(/*[[${vo.month}]]*/);
  /*[/]*/
  var chartPPI = new ApexCharts(document.querySelector("#chart-ppi-bg"), ppi);
  chartPPI.render();

 </script>
</body>
</html>