<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: tao-head}"></head>
<body class="d-flex flex-column">
<div th:replace="~{tao_header :: tao-head}"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-end">
    <form class="form-inline" th:action="@{/view-vs}" method="get">
      <input type="text" class="form-control mr-sm-2" id="stock1" name="first" placeholder="海康威视" required autofocus>
      <input type="text" class="form-control mr-sm-2" id="stock2" name="second" placeholder="恒瑞医药" required autofocus>
      <button id="submit" type="submit" class="btn btn-primary mr-sm-2" th:text="#{submit}"></button>
    </form>
  </div>
  <div class="row flex-xl-nowrap">
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="(${firstList} == null)? #{noData} : ${first}"></h5>
          <div id="chart-first-bg"></div>
          <div id="chart-first-macd-bg"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="(${secondList} == null)? #{noData} : ${second}"></h5>
          <div id="chart-second-bg"></div>
          <div id="chart-second-macd-bg"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div th:replace="~{tao_footer :: tao-footer}"></div>
<script th:src="@{/static/js/jquery.slim.min.js}"></script>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/apexcharts.min.js}"></script>

<script th:inline="javascript" type="text/javascript">
    [# th:if="(${firstList} != null)"]
        var first = {
            series: [{name: "Cur-Price",data: []},{name: "SMA-10",data: []},{name: "MA(200)",data: []},{name: "EMA-10",data: []},
                {name: "WMA-10",data: []}],
            chart: {height: 470,type: 'line',zoom: {enabled: false}},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth', width:2},
            grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
            xaxis: {categories: [],}
        };
        var firstMacd = {
            series: [{name: "macd-signal",data: []}],
            chart: {height: 150,type: 'line',zoom: {enabled: false}},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth', width:2},
            grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
            xaxis: {categories: [],}
        };
        /**trend**/
        /*[# th:each="mdo : ${firstList}"]*/
        first.series[0].data.push(/*[[${mdo.price}]]*/);
        first.series[1].data.push(/*[[${mdo.smaPrice}]]*/);
        first.series[2].data.push(/*[[${mdo.maPrice}]]*/);
        first.series[3].data.push(/*[[${mdo.emaPrice}]]*/);
        first.series[4].data.push(/*[[${mdo.wmaPrice}]]*/);
        firstMacd.series[0].data.push(/*[[${mdo.macd}]]*/);
        first.xaxis.categories.push(/*[[${mdo.tradeDate}]]*/);
        firstMacd.xaxis.categories.push(/*[[${mdo.tradeDate}]]*/);
        /*[/]*/
        var chartFirst = new ApexCharts(document.querySelector("#chart-first-bg"), first);
        chartFirst.render();
        var chartFirstMacd = new ApexCharts(document.querySelector("#chart-first-macd-bg"), firstMacd);
        chartFirstMacd.render();
    [/]
    [# th:if="(${secondList} != null)"]
        var second = {
            series: [{name: "Cur-Price",data: []},{name: "SMA-10",data: []},{name: "MA(200)",data: []},{name: "EMA-10",data: []},{name: "WMA-10",data: []}],
            chart: {height: 470,type: 'line',zoom: {enabled: false}},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth', width:2},
            grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
            xaxis: {categories: [],}
        };
        var secondMacd = {
            series: [{name: "macd-signal",data: []}],
            chart: {height: 150,type: 'line',zoom: {enabled: false}},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth', width:2},
            grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
            xaxis: {categories: [],}
        };
        /**trend**/
        /*[# th:each="mdo : ${secondList}"]*/
        second.series[0].data.push(/*[[${mdo.price}]]*/);
        second.series[1].data.push(/*[[${mdo.smaPrice}]]*/);
        second.series[2].data.push(/*[[${mdo.maPrice}]]*/);
        second.series[3].data.push(/*[[${mdo.emaPrice}]]*/);
        second.series[4].data.push(/*[[${mdo.wmaPrice}]]*/);
        secondMacd.series[0].data.push(/*[[${mdo.macd}]]*/);
        second.xaxis.categories.push(/*[[${mdo.tradeDate}]]*/);
        secondMacd.xaxis.categories.push(/*[[${mdo.tradeDate}]]*/);
        /*[/]*/
        var chartSecond = new ApexCharts(document.querySelector("#chart-second-bg"), second);
        chartSecond.render();
        var chartSecondMacd = new ApexCharts(document.querySelector("#chart-second-macd-bg"), secondMacd);
        chartSecondMacd.render();
    [/]
</script>
</body>
</html>