<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: tao-head}"></head>
<body class="d-flex flex-column h-100">
<div th:replace="~{tao_header :: tao-head}"></div>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-sm-1 col-lg-1">
      <form th:action="@{/view-vs}" method="get">
        <div class="form-group">
          <label for="stock1" th:text="#{stockName}"></label>
          <input type="text" class="form-control" id="stock1" name="first" placeholder="海康威视" required autofocus>
          <label for="stock2" th:text="#{stockName}"></label>
          <input type="text" class="form-control" id="stock2" name="second" placeholder="恒瑞医药" required autofocus>
        </div>
        <button id="submit" type="submit" class="btn btn-primary" th:text="#{submit}"></button>
      </form>
    </div>
    <div class="col-sm-5 col-lg-5">
      <div class="card">
        <div class="card-header" th:text="#{trend}"></div>
        <div class="card-body">
          <h5 class="card-title" th:text="(${firstList} == null)? #{noData} : ${first}"></h5>
          <div id="chart-first-bg"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-lg-5">
      <div class="card">
        <div class="card-header" th:text="#{trend}"></div>
        <div class="card-body">
          <h5 class="card-title" th:text="(${secondList} == null)? #{noData} : ${second}"></h5>
          <div id="chart-second-bg"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div th:replace="~{tao_footer :: tao-footer}"></div>
<script th:src="@{/static/js/jquery.slim.min.js}"></script>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/apexcharts.min.js}"></script>

<script th:inline="javascript" type="text/javascript">
    [# th:if="(${firstList} != null)"]
        var first = {
            series: [{name: "Cur-Price",data: []},{name: "SMA-10",data: []},{name: "MA(200)",data: []},{name: "EMA-10",data: []},
                {name: "WMA-10",data: []}],
            chart: {height: 600,type: 'line',zoom: {enabled: false}},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth', width:2},
            grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
            xaxis: {categories: [],}
        };
        /**trend**/
        /*[# th:each="mdo : ${firstList}"]*/
        first.series[0].data.push(/*[[${mdo.price}]]*/);
        first.series[1].data.push(/*[[${mdo.smaPrice}]]*/);
        first.series[2].data.push(/*[[${mdo.maPrice}]]*/);
        first.series[3].data.push(/*[[${mdo.emaPrice}]]*/);
        first.series[4].data.push(/*[[${mdo.wmaPrice}]]*/);
        first.xaxis.categories.push(/*[[${mdo.tradeDate}]]*/);
        /*[/]*/
        var chartFirst = new ApexCharts(document.querySelector("#chart-first-bg"), first);
        chartFirst.render();
    [/]
    [# th:if="(${secondList} != null)"]
        var second = {
            series: [{name: "Cur-Price",data: []},{name: "SMA-10",data: []},{name: "MA(200)",data: []},{name: "EMA-10",data: []},
                {name: "WMA-10",data: []}],
            chart: {height: 600,type: 'line',zoom: {enabled: false}},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth', width:2},
            grid: {row: {colors: ['#f3f3f3', 'transparent'], opacity: 0.1},},
            xaxis: {categories: [],}
        };
        /**trend**/
        /*[# th:each="mdo : ${secondList}"]*/
        second.series[0].data.push(/*[[${mdo.price}]]*/);
        second.series[1].data.push(/*[[${mdo.smaPrice}]]*/);
        second.series[2].data.push(/*[[${mdo.maPrice}]]*/);
        second.series[3].data.push(/*[[${mdo.emaPrice}]]*/);
        second.series[4].data.push(/*[[${mdo.wmaPrice}]]*/);
        second.xaxis.categories.push(/*[[${mdo.tradeDate}]]*/);
        /*[/]*/
        var chartSecond = new ApexCharts(document.querySelector("#chart-second-bg"), second);
        chartSecond.render();
    [/]
</script>
</body>
</html>