<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="tao-head">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal" th:text="${company}"></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" th:href="@{/}">首页</a>
                <a class="p-2 text-dark" href="@{/rebound}">触底反弹</a>
                <a class="p-2 text-dark" href="@{/recommend}">推荐</a>
                <a class="p-2 text-dark" href="@{/market-sentiment}">市场情绪</a>
                <a class="p-2 text-dark" href="@{/crypto-market}">Crypto行情</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>
    </header>
</body>
</html>